In [1]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

# Reading files

In [2]:
df <- readr::read_csv('Walmart_Store_sales.csv')

Parsed with column specification:
cols(
  Store = col_double(),
  Date = col_character(),
  Weekly_Sales = col_double(),
  Holiday_Flag = col_double(),
  Temperature = col_double(),
  Fuel_Price = col_double(),
  CPI = col_double(),
  Unemployment = col_double()
)

# Data overview

In [3]:
head(df)

  Store Date       Weekly_Sales Holiday_Flag Temperature Fuel_Price CPI
1 1     05-02-2010 1643691      0            42.31       2.572      211.0964
2 1     12-02-2010 1641957      1            38.51       2.548      211.2422
3 1     19-02-2010 1611968      0            39.93       2.514      211.2891
4 1     26-02-2010 1409728      0            46.63       2.561      211.3196
5 1     05-03-2010 1554807      0            46.50       2.625      211.3501
6 1     12-03-2010 1439542      0            57.79       2.667      211.3806
  Unemployment
1 8.106
2 8.106
3 8.106
4 8.106
5 8.106
6 8.106

In [4]:
glimpse(df)

Rows: 6,435
Columns: 8
$ Store        <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ Date         <chr> "05-02-2010", "12-02-2010", "19-02-2010", "26-02-2010"...
$ Weekly_Sales <dbl> 1643691, 1641957, 1611968, 1409728, 1554807, 1439542, ...
$ Holiday_Flag <dbl> 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
$ Temperature  <dbl> 42.31, 38.51, 39.93, 46.63, 46.50, 57.79, 54.58, 51.45...
$ Fuel_Price   <dbl> 2.572, 2.548, 2.514, 2.561, 2.625, 2.667, 2.720, 2.732...
$ CPI          <dbl> 211.0964, 211.2422, 211.2891, 211.3196, 211.3501, 211....
$ Unemployment <dbl> 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106, 8.106...

# Data manipulation

## Select columns

In [5]:
select(df, Store, Date, Weekly_Sales) %>% head

  Store Date       Weekly_Sales
1 1     05-02-2010 1643691
2 1     12-02-2010 1641957
3 1     19-02-2010 1611968
4 1     26-02-2010 1409728
5 1     05-03-2010 1554807
6 1     12-03-2010 1439542

## Filter rows

In [6]:
filter(df, Store == 1) %>% head

  Store Date       Weekly_Sales Holiday_Flag Temperature Fuel_Price CPI
1 1     05-02-2010 1643691      0            42.31       2.572      211.0964
2 1     12-02-2010 1641957      1            38.51       2.548      211.2422
3 1     19-02-2010 1611968      0            39.93       2.514      211.2891
4 1     26-02-2010 1409728      0            46.63       2.561      211.3196
5 1     05-03-2010 1554807      0            46.50       2.625      211.3501
6 1     12-03-2010 1439542      0            57.79       2.667      211.3806
  Unemployment
1 8.106
2 8.106
3 8.106
4 8.106
5 8.106
6 8.106

## Sort rows

In [7]:
arrange(df, -Weekly_Sales) %>% head

  Store Date       Weekly_Sales Holiday_Flag Temperature Fuel_Price CPI
1 14    24-12-2010 3818686      0            30.59       3.141      182.5446
2 20    24-12-2010 3766687      0            25.17       3.141      204.6377
3 10    24-12-2010 3749058      0            57.06       3.236      126.9836
4  4    23-12-2011 3676389      0            35.92       3.103      129.9845
5 13    24-12-2010 3595903      0            34.90       2.846      126.9836
6 13    23-12-2011 3556766      0            24.76       3.186      129.9845
  Unemployment
1 8.724
2 7.484
3 9.003
4 5.143
5 7.795
6 6.392

## Create or modify columns

In [8]:
mutate(
    df,
    Date = lubridate::dmy(Date),
    Weekly_Sales_K = Weekly_Sales / 1000
) %>% head

  Store Date       Weekly_Sales Holiday_Flag Temperature Fuel_Price CPI
1 1     2010-02-05 1643691      0            42.31       2.572      211.0964
2 1     2010-02-12 1641957      1            38.51       2.548      211.2422
3 1     2010-02-19 1611968      0            39.93       2.514      211.2891
4 1     2010-02-26 1409728      0            46.63       2.561      211.3196
5 1     2010-03-05 1554807      0            46.50       2.625      211.3501
6 1     2010-03-12 1439542      0            57.79       2.667      211.3806
  Unemployment Weekly_Sales_K
1 8.106        1643.691
2 8.106        1641.957
3 8.106        1611.968
4 8.106        1409.728
5 8.106        1554.807
6 8.106        1439.542

## Rename columns

In [9]:
rename(df, is_holiday = Holiday_Flag) %>% head

  Store Date       Weekly_Sales is_holiday Temperature Fuel_Price CPI
1 1     05-02-2010 1643691      0          42.31       2.572      211.0964
2 1     12-02-2010 1641957      1          38.51       2.548      211.2422
3 1     19-02-2010 1611968      0          39.93       2.514      211.2891
4 1     26-02-2010 1409728      0          46.63       2.561      211.3196
5 1     05-03-2010 1554807      0          46.50       2.625      211.3501
6 1     12-03-2010 1439542      0          57.79       2.667      211.3806
  Unemployment
1 8.106
2 8.106
3 8.106
4 8.106
5 8.106
6 8.106

## Groupby and summarise

In [10]:
group_by(df, Store) %>% 
    summarise(total_sales = sum(Weekly_Sales)) %>% 
    head

  Store total_sales
1 1     222402809
2 2     275382441
3 3      57586735
4 4     299543953
5 5      45475689
6 6     223756131

## Window functions

In [11]:
df %>% 
    select(Store, Date, Weekly_Sales) %>% 
    group_by(Store) %>% 
    mutate(total_sales = sum(Weekly_Sales)) %>% 
    head

  Store Date       Weekly_Sales total_sales
1 1     05-02-2010 1643691      222402809
2 1     12-02-2010 1641957      222402809
3 1     19-02-2010 1611968      222402809
4 1     26-02-2010 1409728      222402809
5 1     05-03-2010 1554807      222402809
6 1     12-03-2010 1439542      222402809

# R pipes and Method chaining

In [12]:
df %>%
    select_all(tolower) %>%
    filter(holiday_flag == 1) %>% 
    select(date, store, weekly_sales) %>% 
    mutate(date = lubridate::dmy(date)) %>% 
    arrange(desc(date), -weekly_sales) %>% 
    group_by(date) %>% 
    top_n(5) %>% 
    mutate(weekly_sales = scales::comma_format()(weekly_sales))

Selecting by weekly_sales

   date       store weekly_sales
1  2012-09-07 13    2,165,796
2  2012-09-07  4    2,125,105
3  2012-09-07 20    2,080,529
4  2012-09-07 14    1,904,512
5  2012-09-07  2    1,898,777
6  2012-02-10 20    2,462,978
7  2012-02-10  4    2,374,661
8  2012-02-10 10    2,218,596
9  2012-02-10  2    2,103,323
10 2012-02-10 14    2,077,256
11 2011-12-30 20    2,043,245
12 2011-12-30  4    2,007,106
13 2011-12-30 13    1,969,057
14 2011-12-30 10    1,930,690
15 2011-12-30 14    1,914,149
16 2011-11-25  4    3,004,702
17 2011-11-25 10    2,950,199
18 2011-11-25 20    2,906,233
19 2011-11-25 13    2,864,171
20 2011-11-25 14    2,685,352
21 2011-09-09 14    2,202,743
22 2011-09-09  4    2,093,139
23 2011-09-09 20    2,050,543
24 2011-09-09 27    1,911,471
25 2011-09-09 13    1,872,921
26 2011-02-11 20    2,211,388
27 2011-02-11  4    2,187,847
28 2011-02-11  2    2,168,042
29 2011-02-11 10    2,115,408
30 2011-02-11 14    1,980,405
31 2010-12-31 20    1,799,738
32 2010-12-31  4    1,794,869
33 2010-12-31  2    1,750,435
34 2010-12-31 10    1,707,298
35 2010-12-31 13    1,675,292
36 2010-11-26 10    2,939,946
37 2010-11-26 14    2,921,710
38 2010-11-26 20    2,811,634
39 2010-11-26  4    2,789,469
40 2010-11-26 13    2,766,400
41 2010-09-10 14    2,191,768
42 2010-09-10 20    2,014,955
43 2010-09-10 27    1,913,495
44 2010-09-10  4    1,865,821
45 2010-09-10  2    1,839,129
46 2010-02-12  4    2,188,307
47 2010-02-12 10    2,176,029
48 2010-02-12  2    2,137,810
49 2010-02-12 20    2,109,108
50 2010-02-12 13    2,030,933